@model SkillUpdateDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Admin/Skill/Index">SkillList</a></li>
                    <li class="breadcrumb-item active">UpdateSkill</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Skill</h4>
                <p class="card-subtitle mb-4">It is important that you fill out the information completely. </p>
                <form method="post">
                    <div class="row">
                        <input type="hidden" asp-for="SkillId" />
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" asp-for="Title">
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label>Rate</label>
                                <input type="number" class="form-control" asp-for="Rate">
                                <span class="text-danger" asp-validation-for="Rate"></span>
                            </div>                       
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning waves-effect waves-light"><i class="mdi mdi-update"></i> Update</button>
                </form>
            </div> <!-- end Authord-body-->
        </div> <!-- end Authord-->
    </div> <!-- end col -->
</div>
<!-- end row-->
