@model ProjectCreateDto
@{
    ViewData["Title"] = "CreateProject";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Admin/Project/Index">ProjectList</a></li>
                    <li class="breadcrumb-item active">CreateProject</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Create Project</h4>
                <p class="card-subtitle mb-4">It is important that you fill out the information completely. </p>

                <form enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col col-md-8">  
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" asp-for="Title">
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="text" class="form-control" asp-for="Date">
                                <span class="text-danger" asp-validation-for="Date"></span>
                            </div>
                            <div class="form-group">
                                <label>Url</label>
                                <input type="text" class="form-control" asp-for="Url">
                                <span class="text-danger" asp-validation-for="Url"></span>
                            </div>
                            <div class="form-group">
                                <label>Image Upload</label>
                                <br />
                                <input type="file" class="btn btn-primary" name="Image" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <textarea asp-for="Description" rows="15" class="form-control"></textarea>
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning waves-effect waves-light"><i class="mdi mdi-Create"></i> Create</button>
                </form>
            </div> <!-- end Authord-body-->
        </div> <!-- end Authord-->
    </div> <!-- end col -->
</div>
<!-- end row-->
