<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    Admin Panel
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="/Admin/Default/Index" class=" waves-effect">
                        <i class="fas fa-pen-alt"></i><span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Project/Index" class=" waves-effect">
                        <i class="fas fa-laptop-code"></i><span>Project</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Resume/Index" class=" waves-effect">
                        <i class="mdi mdi-heart-pulse"></i><span>Resume</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Skill/Index" class=" waves-effect">
                        <i class="mdi mdi-star-circle"></i><span>Skill</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Service/Index" class=" waves-effect">
                        <i class="mdi mdi-cupcake"></i><span>Service</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/SocialMedia/Index" class=" waves-effect">
                        <i class="mdi mdi-linkedin-box"></i><span>SocialMedia</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/About/Index" class=" waves-effect">
                        <i class="mdi mdi-information"></i><span>About</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Contact/Index" class=" waves-effect">
                        <i class="fas fa-envelope"></i><span>Contact</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/ContactInfo/Index" class=" waves-effect">
                        <i class="mdi mdi-information-variant"></i><span>Contact Info</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Profile/Index" class=" waves-effect">
                        <i class="fas fa-user-cog"></i><span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/Login/LogOut" class=" waves-effect">
                        <i class="mdi mdi-logout"></i><span>Log Out</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>