@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">

        </div>
    </div>
</div>
<!-- end page title -->
<!-- end row-->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div style="text-align:center" class="card-body">
                <h1><i class="mdi mdi-puzzle-outline"></i> Welcome to the Portfolio Site Management Panel <i class="mdi mdi-puzzle"></i></h1>
                <br />
                <br />
                <h3 style="color:gray">
                    You can view all content from the left sidebar and edit existing content here. 
                </h3>
                <br />
                <br />
                <h4 style="color:darkgray">
                    This application was developed by <a class="text-warning" href="https://linkedin.com/in/batuhanyalin">Batuhan YALIN</a>
                </h4>
                <br />
                <br />
                <h5 style ="color:darkgray">
                    You can contact the administrator and send messages regarding system errors or suggestions.
                </h5>
                <br />
                <br />
                <h6 style="color:lightgray">
                    Contact: <a href="mailto:iletisim@batuhanyalin.com">iletisim@batuhanyalin.com</a>
                </h6>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>

