@model ForgetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Batuhan YALIN | .Net Developer - Reset Password</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel="stylesheet" href="~/login/dist/style.css">

    <!-- sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/a5532d615c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form method="post" class="login">
                    <div class="login__field">
                        <i class="login__icon fas fa-envelope"></i>
                        <input type="email" class="login__input" required id="Mail" asp-for="Mail" placeholder="E-mail Address">
                        <span class="text-danger" asp-validation-for="Mail"></span>
                    </div>
                    <div class="login__field">
                        <a class="button__text" style="font-size:x-small;color:darkgray" href="/Login/Index">
                            <i class="fas fa-home"></i>   Back To Login
                        </a>
                    </div>

                    <button id="btnPasswordChange" class="button login__submit">
                        <span class="button__text">Reset Password</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
    <!-- partial -->
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        });

        $("#btnPasswordChange").click(function (e) {
            e.preventDefault(); // Sayfanın yenilenmesini önlemek için
            var formData = new FormData();
            formData.append("Mail", $("#Mail").val());

            Swal.fire({
                title: "Parola Sıfırlama Talebi",
                text: "Parola Sıfırlama İsteği Göndermek İstediğinizden Emin Misiniz?",
                icon: "info",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Evet, gönder.",
                cancelButtonText: "İptal Et."
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/PasswordChange/ForgetPassword/",
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (response) {
                            // Eğer işlem başarılı ise:
                            if (response.success) {
                                Swal.fire({
                                    title: "İşlem Başarılı!",
                                    text: "Sıfırlama talebi başarılı bir şekilde gönderildi. Lütfen mailinizi kontrol edin. ",
                                    icon: "success"
                                }).then(() => {
                                    // Sayfayı yenile
                                    location.reload();
                                });
                            } else {
                                Swal.fire({
                                    title: "Hata!",
                                    text: response.message, // Controller'dan gelen hata mesajı
                                    icon: "error"
                                });
                            }
                        },
                        error: function () {
                            Swal.fire({
                                title: "Beklenmeyen Hata!",
                                text: "Bir hata oluştu, lütfen tekrar deneyin.",
                                icon: "error"
                            });
                        }
                    });
                }
            });
        });

    </script>
</body>
</html>
