@model List<SkillListDto>
<section class="ftco-section" id="skills-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2">Skills</h1>
                <h2 class="mb-4">My Skills</h2>
                <p>You can review my expertise in various technologies.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 animate-box">
                    <div class="progress-wrap ftco-animate">
                        <h3>@item.Title</h3>
                        <br />
                        <div class="progress">
                            <div class="progress-bar color-1" role="progressbar" aria-valuenow="@item.Rate"
                                 aria-valuemin="0" aria-valuemax="100" style="width:@item.Rate%">
                                <span>@item.Rate%</span>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>