@model RegisterDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <form method="post">
        <input asp-for="UserName" />
        <br />
        <input asp-for="Name" />
        <br />
        <input asp-for="Surname" />
        <br />
        <input asp-for="Password" />
        <br />
        <input asp-for="Email" />
        <br />
        <button>Go</button>
    </form>
</head>
<body>
</body>
</html>
