<section class="ftco-section ftco-project" id="projects-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2">Projects</h1>
                <h2 class="mb-4">My Projects</h2>
                <p>You can click on the project names to navigate to their GitHub links.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/clark-master/images/project-4.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <span style="font-size:x-small">12/01/2024 - 12/02/2024</span>
                        <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                        <p style="font-size:x-small;color:white">
                            Web Design Web Design asdasdas dasd asd asd asd asd asdasdasdas asd asd
                            Web Design Web Design asdasdas dasd asd asd asd asd asdasdasdas asd asd
                            Web Design Web Design asdasdas dasd asd asd asd asd asdasdasdas asd asd
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>